.home-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
}

.expenses-chart {
  width: 60%;
  margin: 0 auto;
  height: 300px; /* Limitează înălțimea graficului */
}

.expense-details {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.total-expenses {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.no-expenses {
  font-size: 1.2rem;
  color: #888;
}

.category-details {
  margin-bottom: 20px;
}

.expense-item {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.expense-item p {
  margin: 0;
  font-size: 14px;
}
