  /* -----------------------------------------------
    Main Container
  ------------------------------------------------- */
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #2b3a42, #1d2d35, #3b4c56, #4f5b67);
    overflow: auto; /* Permite scroll pe verticală și orizontală */
    animation: backgroundShift 8s ease infinite;
    background-size: 400% 400%;
  }

  @keyframes backgroundShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .home-container {
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;  /* Scroll vertical doar dacă conținutul depășește înălțimea ferestrei */
  }

  /* -----------------------------------------------
    Header Styles
  ------------------------------------------------- */
  .home-container h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #4FC3F7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  .home-container h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #4FC3F7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* Icona pentru setări */
  .settings-icon {
    font-size: 1.7rem;
    cursor: pointer;
    transition: transform 0.4s ease, color 0.4s ease;
    color: #f23333;
  }

  .settings-icon:hover {
    transform: rotate(180deg);
    color: #4FC3F7;
  }

  /* -----------------------------------------------
    Settings Modal (Fereastră pentru setări)
  ------------------------------------------------- */
  .settings-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(8px); /* Aplica blur */
    -webkit-backdrop-filter: blur(8px); /* Compatibilitate Safari */
    opacity: 0; /* Ascuns inițial */
    animation: fadeIn 0.4s forwards; /* Animație de apariție */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .settings-content {
    background: rgba(51, 51, 51, 0.5);;
    border-radius: 20px;
    padding: 3rem;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    animation: slideUp 0.5s ease-out; /* Animație slide-up */
    margin-bottom: 1rem;
  }

  .settings-content div {
    margin-bottom: 1rem;
  }

  /* Animația pentru apariție din jos */
  @keyframes slideUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Fade-out pentru modal */
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* Slide-down pentru închidere */
  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(50px);
      opacity: 0;
    }
  }

  /* Stil pentru efect de închidere */
  .settings-modal.fade-out {
    animation: fadeOut 0.4s forwards; /* Fade-out general */
  }

  .settings-content.fade-out {
    animation: slideDown 0.4s forwards; /* Slide-down la închidere */
  }
  /* Icona de închidere a ferestrei */
  .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f23333;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .close-icon:hover {
    color: #4FC3F7;
    transform: rotate(180deg);
  }

  /* -----------------------------------------------
    Accordion (Accordeon pentru opțiuni)
  ------------------------------------------------- */
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  .accordion-item {
    border: 1px solid #4FC3F7;
    border-radius: 15px;
    background-color: #696969;
    padding: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Aliniere pe axa orizontală */
    justify-content: center; /* Aliniere pe axa verticală */
  }

  .accordion-item:hover {
    background-color: #ffffff;
  }

  .accordion-item button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4FC3F7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  /* Formularul din acordeon */
  .accordion-item .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.4s ease, padding 0.4s ease;
    width: 100%;
    padding: 0; /* La început, formularul nu are padding */
    display: flex;
    justify-content: center; /* Centrare orizontală */
    align-items: center; /* Centrare verticală */
    flex-direction: column; /* Formularul este organizat pe verticală */
    margin: 0 auto; /* Asigură că se află pe mijloc */
  }
  .accordion-item.open .accordion-content {
    max-height: 700px; /* Ajustează înălțimea maximă pe care vrei să o aibă formularul */
    opacity: 1;
    display: flex;
    justify-content: center; /* Centrare orizontală */
    align-items: center; /* Centrare verticală */
    flex-direction: column;
    margin-bottom: .5rem;
  }

  /* Stilizare pentru formularul efectiv */
  .accordion-item form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Ajustează lățimea maximă a formularului */
    margin: 0 auto; /* Centrare orizontală */
    opacity: 1;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: none;
    background-color: #696969;
  }


  /* Animație pentru modal la deschidere */
  @keyframes scaleUp {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }

  /* -----------------------------------------------
    Form Styles (Stilizarea formularului)
  ------------------------------------------------- */
  .accordion-item form label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #000000;
  }

  .accordion-item form input,
  .accordion-item form select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #bdb4b4;
    border-radius: 15px;
    margin-bottom: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease;
  }

  .accordion-item form input:focus,
  .accordion-item form select:focus {
    border-color: #4FC3F7;
    outline: none;
  }

  .accordion-item form button {
    background-color: #4FC3F7;
    color: white;
    border: none;
    padding: 0.9rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .accordion-item form button:hover {
    background-color: #f23333;
  }

  /* -----------------------------------------------
    Budget Overview (Prezentarea bugetului)
  ------------------------------------------------- */
  .budget-overview {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    margin: 3rem auto;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .budget-overview div {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    padding: 1rem;
    width: 250px;
    height: 90px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .budget-overview div:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(189, 1, 1, 0.502);
  }

  .budget-overview div h3 {
    margin-top: .5rem;
    font-size: 1.5rem;
    color: #f23333;
  }

  .budget-overview div p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
  }

  /* -----------------------------------------------
    Chart Container (Container pentru grafice)
  ------------------------------------------------- */
  .chart-container {
    max-height: 80vh;  
    overflow-y: auto; 
    width: 100%;
    margin-top: 2rem;
  }

  .chart {
    width: 100%;
    height: 100%;
    max-height: 400px;  
  }

  /* -----------------------------------------------
    Media Queries (Pentru ecrane mici)
  ------------------------------------------------- */
  @media (max-width: 900px) {
    .budget-overview {
      flex-wrap: wrap;
    }

    .budget-overview div {
      flex: 1 1 calc(50% - 1rem);
    }

    .chart-container {
      max-height: 60vh;
    }
  }

  @media (max-width: 600px) {
    .budget-overview div {
      flex: 1 1 100%;
    }

    .chart-container {
      max-height: 50vh;
    }
  }

  /* -----------------------------------------------
    Expenses Chart (Graficul cheltuielilor)
  ------------------------------------------------- */
  .expenses-chart {
    margin-top: -2rem;
    position: relative;
    width: 100%;
    height: 400px;
  }

  canvas {
    margin-bottom: 2rem;
  }

  .expenses-chart p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #f23333;
  }



  /* -----------------------------------------------
    Expenses Detail (Detaliile cheltuielilor)
  ------------------------------------------------- */

  /* Stiluri pentru secțiunea de detalii cheltuieli */
  .expense-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    width: 100%;  
    max-width: 450px;  /* Poți ajusta valoarea */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;  /* Efect pentru întregul container */
  }

  .expense-details:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Efect la hover pe container */
  }

  .expense-details h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s ease;  /* Efect pentru titlu */
  }

  .expense-details h2:hover {
    color: #4CAF50;  /* Schimbă culoarea titlului la hover */
  }

  .expense-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Efect de animație pe elemente */
  }

  .expense-item:hover {
    transform: translateY(-5px);  /* Ridică ușor elementul la hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  /* Schimbă umbra */
  }

  .expense-item p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
    transition: color 0.3s ease;  /* Efect pentru text */
  }

  .expense-item:hover p {
    color: #333;  /* Schimbă culoarea textului la hover pe item */
  }

  .expense-item strong {
    font-weight: 600;
    color: #333;
  }

  .expense-details p {
    text-align: left;
    font-size: 1.2rem;
    color: #888;
    font-style: italic;
  }

  .expense-details-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .expense-info {
    flex: 1;
    margin: 0;
  }

  .expense-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center; /* Aliniază butoanele în centru */
  }

  .edit-btn, .delete-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;  /* Efecte de tranziție */
  }

  .edit-btn {
    background-color: #4CAF50;
    color: white;
    width: 100%;
  }

  .edit-btn:hover {
    background-color: #4CAF50;
    transform: scale(1.05);  /* Ușor de mărire a butonului la hover */
  }

  .delete-btn {
    background-color: #f23333;
    color: white;
  }

  .delete-btn:hover {
    background-color: #f23333;
    transform: scale(1.05);  /* Ușor de mărire a butonului la hover */
  }

  .edit-btn:focus, .delete-btn:focus {
    outline: 2px solid #333;  /* Efect de focus pe butoane */
    outline-offset: 2px;
  }

  .edit-btn:active, .delete-btn:active {
    transform: scale(0.98);  /* Mic efect de apăsare a butonului */
  }

  .expense-item .delete-btn, .expense-item .edit-btn {
    transition: all 0.3s ease;
  }

  .expense-item .delete-btn:hover, .expense-item .edit-btn:hover {
    transform: translateX(5px);  /* Mișcare ușoară spre dreapta la hover */
  }

